.env
.agile-planner-backlog
node_modules/
#test-output/
# Fichiers et dossiers générés
*.log
.DS_Store
*.swp
out.txt
# Backlogs générés
backlog.json
mvp/
iterations/
epic.md
mvp/user-stories.md
iterations/*/user-stories.md
# Systèmes d'exploitation
Thumbs.db
# Dossiers de build ou cache
.cache/
dist/
build/
# Fichiers temporaires
*.tmp
*.bak
temp_*.txt
scripts/logs/
# VSCode
.vscode/

# Windsurf
.windsurf/
.windsurf


coverage/
TASKS.MD
TASKS.md
.windsurfrules
# Logs et debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Tests
.nyc_output
.eslintcache
*-jest.json
jest-results.json
list-server-lib.js
# Package lock pour différents gestionnaires
yarn.lock
package-lock.json
pnpm-lock.yaml
